In [1]:
x = float(input("Enter a number please: "))


if x>0:
    y = round(x)
    if y>x: 
        integer1 = y-1   
    else:
        integer1 = y
    print(integer1)

else:
    z = round(x * (-1))
    if z>(x*-1): 
        integer1 = z-1   
    else:
        integer1 = z
    print("-", integer1)

if integer1%2==0:
    print("NUmber is even")
else:
    print("Number is not even")

Enter a number please: 45
45
Number is not even

In [ ]:
x = float(input("Enter a number please: "))


if x>0:
    y = round(x)
    if y>x: 
        integer1 = y-1   
    else:
        integer1 = y
    

else:
    z = round(x * (-1))
    if z>(x*-1): 
        integer1 = z-1   
    else:
        integer1 = z
    

if integer1%2==0:
    print("NUmber is even")
else:
    print("Number is not even")

## While Loops.

In [ ]:
n = int(input("Enter a number"))

i = 0
while i <= n:

    print("This is Itteration : ", i)
    i = i + 1
    
else:
    print("Done")

In [ ]:
n = int(input("Enter a number"))

i = 0
while i <= n:

    print("Zeeshan", i)
    i = i + 1.5

else:
    print("Done")

## Loops And Pass (Pass meaning do nothing).

In [ ]:
n = int(input("Enter a number"))

i = 0
while i <= n:
    
    if i%2 == 0:
        print("This is an even itteration", i)
    else:
        pass
    
    i = i + 1
    
else:
    print("Done")

## Loops, Break and Continue.

### Break means exit the loop imediately.
### Continue (Skip the remaining body of the loops ans start next itteration.

In [ ]:
help()

In [22]:
i= int(input("Enter a number"))


while i < 10: 
    if i == 5 :
         break
    
    print("Zeeshan", i )
    i = i+1


    
else:
        print("Loop Done")

Enter a number6
Zeeshan 6
Zeeshan 7
Zeeshan 8
Zeeshan 9
Loop Done

In [11]:
i = int(input("enter a number: "))

while i <= 6:
    print("Zee", i)
    if i ==4:
        continue
   
    print("Shan", i)
    i = i+1

enter a number: 5
Zee 5
Shan 5
Zee 6
Shan 6

In [9]:
i = int(input("enter a number please"))

while i < 10:
    if i==5:
    
        break
    print("Zee", i)
    i+=1
print("Out of Loop")

enter a number please-5
Zee -5
Zee -4
Zee -3
Zee -2
Zee -1
Zee 0
Zee 1
Zee 2
Zee 3
Zee 4
Out of Loop

In [2]:
i = int(input("enter a number please"))

while i < 10:
    print("Zee", i)
    if i==5:
        continue
    print("shan", i)
    i+=1
print("Out of Loop")

enter a number please9
Zee 9
shan 9
Out of Loop

 ## For Loop.

In [7]:
l = [2,3,4]
l

[2, 3, 4]

In [8]:
l[2]

4

In [13]:
for i in range(5):
    print(i**2)

0
1
4
9
16

In [4]:
l = [5,6,9,1,6]
l

[5, 6, 9, 1, 6]

In [6]:
l

[1, 5, 6, 6, 9]

In [8]:
l[3]=7

In [9]:
l

[1, 5, 6, 7, 9]

## Defining function:

In [19]:
def myfunction():
    print("The Task was Successful")
    print("Moving to the next task")
    print("Sent me to the next task")

In [20]:
myfunction()

The Task was Successful
Moving to the next task
Sent me to the next task

In [27]:
def myfunction(): 
    
    # This is doing nothing except printing a message.
    print("Hello World")

In [28]:
myfunction(
)

Hello World

In [29]:
printSuccess()

The Task was Successful
Moving to the next task
Sent me to the next task

In [65]:
def printmsg(m1):
    if isinstance(m1,str):
        print(m1+" You are Welcome.")
    else:
        print("your command is invalid")

In [66]:
printmsg("Zeeshan")

Zeeshan You are Welcome.

In [75]:
def printmsg(m2,m3):
    print(m2, "S/D/O", m3)

In [73]:
print("Muhammad Zeeshan", "Muhammad Altaf")

Muhammad Zeeshan Muhammad Altaf

In [76]:
def pow(a,b):
    c = a**b
    print(c)

In [77]:
pow(2,5)

32

In [78]:
def smadd(a,b,c):
    x = (a+b)**c
    print(x)

In [85]:
smadd(2,3,1)

5

In [86]:
def smadd(a,b):
    return(a**b)

In [87]:
smadd(2,3
     )

8

In [21]:
addall(2,5,1,0,9)

17

In [20]:
addall(2,5)

7

In [22]:
addall(2,4.5,-4,78,+9,4)

93.5

In [24]:
addall(-8,-8)

-16

In [25]:
 l =[2,5,4]

In [26]:
l

[2, 5, 4]

In [27]:
l[0]= 5

In [28]:
l

[5, 5, 4]

In [35]:
 def productall(*values):
        s=1
        for i in range(len(values)):
            s = s  * values [i]
        print (s)

In [36]:
productall(2,5,4)

40