# Object Oriented Programming.

In [1]:
class Phone():
    
    def set_color(self, color):
        self.color = color
    
    def set_cost(self,cost):
        self.cost = cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("Making Call")
    def play_game(self):
        print("plaing Game")

In [2]:
p1 = Phone()

In [3]:
p1.make_call()

Making Call

In [4]:
p1.play_game()

plaing Game

In [5]:
p1.set_color("Black")

In [6]:
p1.set_cost(3500000)

In [7]:
p1.show_color()

'Black'

In [8]:
p1.show_cost()

3500000

In [9]:
class Employee():
    
    def __init__(self, name, age,gender,salary): # Define Attributes
        self.name = name
        self.age  = age
        self.gender = gender
        self.salary = salary
   
    def employee_details(self): # Actions and Behavior
        
        print("Name of Employee is", self.name)
        print("age of", self.name, "is", self.age)
        print("Gender of", self.name, "is", self.gender)
        print("Salary of", self.name, "is", self.salary)

In [10]:
e1 = Employee("Muhammad Zeeshan",'35',"Male","35000 Rs")

In [11]:
e1.employee_details()

Name of Employee is Muhammad Zeeshan
age of Muhammad Zeeshan is 35
Gender of Muhammad Zeeshan is Male
Salary of Muhammad Zeeshan is 35000 Rs

In [12]:
print(e1.name,
      e1.age,
      e1.gender,
        e1.salary, sep = '\n')

Muhammad Zeeshan
35
Male
35000 Rs

# 1 - Inheritance:
## Make a Parent Class:

In [13]:
class Vehicle():         # Parent Class
    def __init__(self,make,color,cost,mileage):
        self.make = make
        self.color = color
        self.cost = cost
        self.mileage = mileage
    
    def vehicle_details(self):
       
        print("Model of Vehicle is", self.make)
        print("color of Vehicle is", self.color)
        print("Cost of Vehicle is ", self.cost)
        print("Mileage of Vehicle is", self.mileage)

In [14]:
v1 = Vehicle('Suzuki', 'Black', '$ 905','600000' )

In [15]:
v1.color

'Black'

In [16]:
v1.vehicle_details()

Model of Vehicle is Suzuki
color of Vehicle is Black
Cost of Vehicle is  $ 905
Mileage of Vehicle is 600000

### Lets Build Child Class:

In [17]:
class Car(Vehicle):    # Child Class
    
    def show_Vehicle_type(self):
        print("I am a Car")

In [18]:
c1 = Car('Corolla','White', '3,500,000 Rs', 0)

In [19]:
c1.show_Vehicle_type()

I am a Car

In [20]:
c1.vehicle_details()

Model of Vehicle is Corolla
color of Vehicle is White
Cost of Vehicle is  3,500,000 Rs
Mileage of Vehicle is 0

## Over Riding on Init method.

In [21]:
class Bike(Vehicle):
    def __init__(self,make,color,cost,mileage,no_of_tyres):
        super().__init__(make,color,cost,mileage)
        self.no_of_tyres = no_of_tyres
    def bike_details(self):
        print("Model of Bike is", self.make)
        print("color of Bike is", self.color)
        print("Cost of Bike is ", self.cost)
        print("Mileage of Bike is", self.mileage)
        print("Tyres of Bike are", self.no_of_tyres)

In [22]:
b1 = Bike("Honda","Black and Red", "125K Rs", 0 , 2 )

In [23]:
b1.bike_details()

Model of Bike is Honda
color of Bike is Black and Red
Cost of Bike is  125K Rs
Mileage of Bike is 0
Tyres of Bike are 2

In [24]:
b1.vehicle_details()

Model of Vehicle is Honda
color of Vehicle is Black and Red
Cost of Vehicle is  125K Rs
Mileage of Vehicle is 0

## OOPs With Telusko:

In [21]:
class Computer:
    def __init__(self,cpu,ram):
        self.cpu = cpu
        self.ram = ram
        print(self.cpu, self.ram)
    
    
    
    def config(self):
        print("Corem3, 7th generataion")

comp1 = Computer('ab',44)

ab 44

In [22]:
print(type(comp1))

<class '__main__.Computer'>

In [23]:
comp1.config()

Corem3, 7th generataion

In [24]:
Computer.config(comp1)

Corem3, 7th generataion

In [26]:
comp1 = Computer('P-14','256gb')

P-14 256gb